/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap&subset=latin');

/* Variables */

$colors: (
    white: hsl(0, 0%, 100%),
    light-pink: hsl(275, 100%, 97%),
    grayish-purple: hsl(292, 16%, 49%),
    dark-purple: hsl(292, 42%, 14%),
);
$transition-duration: 0.5s;

/* Base Selectors */

html {
    height: 100vh;

    margin: 0;

    font-family: "Work Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("assets/images/background-pattern-mobile.svg");
    background-repeat: repeat-x;
    background-color: map-get($colors, light-pink);

    min-height: 100%;

    margin: 0;
}

main {
    display: grid;
    grid-template-rows: auto 1fr auto;

    height: 500px;
    width: 320px;

    margin: 1rem;
    padding: 1rem;

    border-radius: 8px;

    background-color: map-get($colors, white);
}

/* FAQ-Header */

.faq-header {
    display: flex;
    align-items: center;
    gap: 2rem;

    color: map-get($colors, dark-purple);

    margin-bottom: 1rem;

    /* Elements */

    &__icon {
        height: 32px;
    }

    &__title {
        margin: 0;
    }
}

/* FAQ-Item */

.faq-item {
    overflow: hidden;

    /* Elements */

    &__toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        border: none;
        background: none;
        text-align: left;

        cursor: pointer;
    }

    &__toggle[aria-expanded="true"] .faq-item__icon {
        content: url("assets/images/icon-minus.svg");
    }

    &__toggle[aria-expanded="false"] .faq-item__icon {
        content: url("assets/images/icon-plus.svg");
    }

    &__question {
        font-family: "Work Sans", sans-serif;
        font-size: 0.9rem;
        font-weight: bold;

        color: map-get($colors, dark-purple);

        padding: 0 2rem 0 0;
    }

    &__answer {
        font-size: 0.8rem;
        line-height: 1.2rem;

        padding-right: 1rem;

        color: map-get($colors, grayish-purple);
    }
}

/* Modifiers */

.expanded {
    max-height: 0;
    transition: max-height $transition-duration ease;
}

.collapsed {
    max-height: 0;
    overflow: hidden;
    margin: 0.75rem 0.5rem;
    transition: max-height $transition-duration ease;
}

/* Attribution */

.attribution { 
    font-size: 10px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Queries */

@media (min-width: 600px) {    
    main {
        height: 420px;
        width: 500px;
    }

    body {
        background-image: url("assets/images/background-pattern-desktop.svg");
    }

    .faq-item__toggle:hover .faq-item__question {
        color: rgb(206, 71, 206);
    }
}